<div class="layout font-size-byFunct">

  <div>
    <p class="text">SOME TEXT</p>

    <button class="button">
      BUTTON TEXT
    </button>
  </div>

  <div>
    <h1>Loading environment config</h1>

    <p>This was loaded:</p>
    <pre><p>{{ envConfig | json }}</p></pre>
  </div>

  <div>{{ 'HELLO' | translate:param }}</div>
  <div>{{ 'HELLO2' | translate:param }}</div>
  <div [innerHTML]="'WITH_HTML_TEXT' | translate"></div>

  <br/>  <br/>  <br/>
  <div>
    <h2>{{ 'HOME.TITLE' | translate }}</h2>
    <label>
      {{ 'HOME.SELECT' | translate }}
      <select #langSelect (change)="translate.use(langSelect.value)">
        <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
      </select>
    </label>
  </div>
</div>

<!--
<h3>Pluralization</h3>
<br />
<h5>Select Items</h5>
<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="itemQuantity" class="form-control" data-val="true">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
    </select>
  </div>
  <div class="col-md-4">
    <strong translate [translateParams]="{ count: itemQuantity }"
      >pluralization.items</strong
    >
  </div>
</div>
<br />
<h5>Select Gender</h5>
<div class="row">
  <div class="col-md-4">
    <select [(ngModel)]="selectedGender" class="form-control" data-val="true">
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="others">Others</option>
    </select>
  </div>
  <div class="col-md-4">
    <strong>{{
      "pluralization.gender" | translate: { gender: selectedGender }
    }}</strong>
  </div>
</div>
-->
<div class="container text-center mt-5">

  <div class="row">dropdown with NG-BOOTSTRAP</div>
  <div class="row">
    <div ngbDropdown class="dropdown">
      <button ngbDropdownToggle class="btn btn-secondary" type="button" id="dropdownMenuButton1" aria-expanded="false">
        Dropdown button
      </button>
      <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
        <li><a ngbDropdownItem href="#">Action</a></li>
        <li><a ngbDropdownItem href="#">Another action</a></li>
        <li><a ngbDropdownItem href="#">Something else here</a></li>
      </ul>
    </div>
  </div>

  <hr>
  <br>
  <div class="row">
    <span>FortAwesome icon</span>
  </div>
  <div class="row">
    <div style="text-align:center">
      <h2>Using Solid Icons</h2>
      <fa-icon [icon]="['fas', 'square']"></fa-icon>
      <br />
      <fa-icon [icon]="['fas', 'check-square']"></fa-icon>
    </div>
    <hr />
    <div style="text-align:center">
      <h2>Using Regular Icons</h2>
      <fa-icon [icon]="['far', 'square']"></fa-icon>
      <br />
      <fa-icon [icon]="['far', 'check-square']"></fa-icon>
    </div>
    <hr />
    <div style="text-align:center">
      <h2>Using Brand Icons</h2>
      <fa-icon [icon]="['fab', 'stack-overflow']"></fa-icon>
      <br />
      <fa-icon [icon]="['fab', 'github']"></fa-icon>
      <br />
      <fa-icon [icon]="['fab', 'medium']"></fa-icon>
    </div>
  </div>
  <br>
  <div>
    <fa-icon [icon]="['fas', 'coffee']" flip="vertical"
             [border]="true" [styles]="{'stroke': 'red', 'color': 'red'}" size="6x"></fa-icon>
  </div>
  <br>
</div>
